# Ignore latex assembly files
/**/*.pdf
/**/*.aux
/**/*.fdb_latexmk
/**/*.fls
/**/*.lof
/**/*.log
/**/*.lol
/**/*.lot
/**/*.nav
/**/*.out
/**/*.snm
/**/*.gz
/**/*.toc
/**/*.xdv

# Exclude latex release catalogue with compiled PDFs
!work/**/*.pdf

# Exclude other PDFs
!assets/**/*.pdf