# Ignore latex assembly files
build/*

/**/*.aux
/**/*.fdb_latexmk
/**/*.fls
/**/*.lof
/**/*.log
/**/*.lol
/**/*.lot
/**/*.nav
/**/*.out
/**/*.snm
/**/*.gz
/**/*.toc
/**/*.xdv

# Exclude latex directories with compiled PDFs
!build/release/
!build/archive/